<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect jika bukan file atau direktori
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect ke index.php
    RewriteRule ^ index.php [L]
</IfModule>
